.missioncontainer {
  width: 100%;
  height: 30rem;
  background-repeat: no-repeat;
  background-size: cover; /* Use 'contain' instead of 'cover' */
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-image: url("/images/mission/mission.png");
}

/* .bggif {
  background-image: url("https://www.dropbox.com/scl/fi/3ruzk1p97wsblbd9024gs/industrychallenge.mp4?rlkey=afa0ndn0zbkfdo22z1jjgwu38&dl=0&raw=1");
  width: 20rem;
  height: 20rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */
